li.dev-item {
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
}

li.dev-item header {
  display: flex;
  align-items: center;
  position: relative;
}

li.dev-item header img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

li.dev-item header .user-info {
  margin-left: 10px;
}

li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

li.dev-item a {
  color: #8e4dff;
  font-size: 14px;
  text-decoration: none;
}

li.dev-item a:hover {
  color: #8e4dff;
}

li.dev-item header .close-button {
  border-radius: 50%;
  border: 1px solid rgb(252, 84, 84);
  width: 25px;
  height: 25px;
  align-self: flex-start;
  position: absolute;
  right: 0;
}

li.dev-item header .close-button span {
  font-weight: bolder;
  color: rgb(252, 84, 84);
}

li.dev-item .button {
  border: 0;
  background: #7d40e7;
  border-radius: 2px;
  padding: 8px 12px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-left: 14px;
}

li.dev-item .button:hover {
  background: #6931ca;
}
